<div class="container">
  <h1>{{title | uppercase}}</h1>
  <div class="search-Items">
    <input type="text" [(ngModel)]="searchedKeyword.main" class="form-control"
      placeholder="Enter Keyword for filter result">
    <button class="search" [ngStyle]="{'opacity': searchedKeyword.main.length == 0 ? 0.4 : 1}"
      [disabled]="searchedKeyword.main.length == 0">search</button>
  </div>

  <table class="table table-striped  table-bordered">
    <tr>
      <th>ID</th>
      <th>Main</th>
      <th>Icon</th>
      <th>Description</th>
    </tr>
    <ng-container *ngFor="let item of details">
      <tr *ngFor="let weather of item.weather | filterBy:searchedKeyword">
        <td>
          {{weather.id}}
        </td>
        <td>
          {{weather.main}}
        </td>
        <td>
          {{weather.icon}}
        </td>
        <td>
          {{weather.description}}
        </td>
      </tr>
    </ng-container>
  </table>
  <span *ngIf="(details | filterBy: searchedKeyword).length == 0">No matching elements</span>
</div>
